<div class="filters">
  <div class="filters-mobile">
    <div class="filter-row">
      <span class="filter" data-filter="no_smoking"></span>
      <span class="filter" data-filter="terrace"></span>
      <span class="more-filters-btn">
        <!-- Текст "Ещё" добавится через JS -->
      </span>
    </div>
    <div class="filter-row">
      <span class="filter" data-filter="coffee_shop"></span>
      <span class="filter" data-filter="breakfast"></span>
      <span class="filter" data-filter="bar"></span>
      <span class="filter-reset">
        <img src="/images/reset.svg" alt="Reset" class="filter-icon">
      </span>
    </div>
  </div>
  <div class="filters-left">
    <span class="filter" data-filter="no_smoking"></span>
    <span class="filter" data-filter="pets_allowed"></span>
    <span class="filter" data-filter="terrace"></span>
    <span class="filter" data-filter="smoke"></span>

  </div>
  <span class="filter-divider"></span>
  <div class="filters-right">
    <span class="filter" data-filter="coffee_shop"></span>
    <span class="filter" data-filter="specialty"></span>
    <span class="filter" data-filter="food"></span>
    <span class="filter" data-filter="bar"></span>
    <span class="filter" data-filter="desserts"></span>
    <span class="filter" data-filter="breakfast"></span>
    <span class="filter" data-filter="cafe"></span>
    <span class="filter" data-filter="vegan"></span>
    <span class="filter" data-filter="snacks"></span>
    <span class="filter" data-filter="beans_sale"></span>
    <span class="filter" data-filter="ice_cream"></span>
    <span class="filter" data-filter="beer"></span>
    <span class="filter" data-filter="wine"></span>
  </div>
  <span class="filter-reset desktop-reset">
    <img src="/images/reset.svg" alt="Reset" class="filter-icon">
  </span>
</div>
