<button class="mobile-sidebar-close" style="display: none;">
  <img src="/images/close.svg" alt="Close" class="icon">
  Закрыть
</button>
<div class="mobile-list-toggle">
  <img src="/images/list.svg" alt="List" class="icon">
  Показать список
</div>
<div id="mobile-place-card" class="mobile-place-card hidden">
  <div class="mobile-place-card-header">
    <div class="mobile-place-card-attributes"></div>
    <span class="close-card">✕</span>
  </div>
  <div class="mobile-place-card-content"></div>
</div>
