<div id="more-filters-modal" class="modal hidden">
  <div class="modal-content">
    <span class="close-modal">✕</span>
    <div class="extra-filters">
      <div class="extra-filters-top">
        <span class="filter" data-filter="smoke"></span>
        <span class="filter" data-filter="terrace"></span>
      </div>
      <span class="filter-divider-horizontal"></span>
      <div class="extra-filters-bottom">
        <span class="filter" data-filter="food"></span>
        <span class="filter" data-filter="snacks"></span>
        <span class="filter" data-filter="desserts"></span>
        <span class="filter" data-filter="beer"></span>
        <span class="filter" data-filter="wine"></span>
      </div>
    </div>
  </div>
</div>
