body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body.terms-page {
  overflow-y: auto; /* Скроллинг внутри контейнера */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: white;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
}

.header-link {
  text-decoration: none; /* Убирает подчёркивание */
  color: inherit; /* Наследует цвет текста от родителя */
}

.header-link h1 {
  margin: 0; /* Сохраняем оригинальные отступы */
  padding: 0px 4px; /* Сохраняем оригинальные внутренние отступы */
}



h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0px 4px;
}

h2, h3 {
  margin: 10px 0;
  font-size: 16px;
}

.icon {
  max-width: 24px;
  max-height: 24px;
}

.filter-icon {
  max-width: 18px;
  max-height: 18px;
  margin-right: 5px;
}

.atr-icon {
  max-width: 18px;
  max-height: 18px;
  margin-right: 0px;
  border-radius: 0 !important;
}
